.page{
    margin: 0 auto;
    font-family: sans-serif;
}
.main_menu{
    display: flex;
}
.logo_page{
    padding: 25px 0 25px 80px;
    font-weight: 400;
font-size: 24px;
color: #22202e;
}
.main_list {
    white-space: nowrap;
    display: flex;
    margin: 0;
    list-style: none;
padding: 29px 281px 29px 149px;
}
.main_li{
    width: 150%;
    margin-right: 40px;
}
.main_link{
    font-weight: 400;
font-size: 16px;
color: #726e8d;
}

.main_menu_logo{
    display: flex;
   list-style: none;
   padding: 0;
   padding-top: 30px;
}
.search{
    color: transparent;
    background-image: url(../img/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 16px;
    }
.shopping--cart{
    color: transparent;
        background-image: url(../img/shopping--cart.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
    height: 16px;
    margin-right: 16px;
    }
    .user--avatar{
        color: transparent;
        background-image: url(../img/user--avatar.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .title{
      text-align: center;
      font-weight: 400;
      margin-top: 80px;
        margin-bottom: 24px;
font-size: 36px;
line-height: 140%;
color: #2a254b;
    }
    .drop-down_list{
        display: flex;
        justify-content: space-between;
        margin-left: 104px;
        margin-right: 104px;
        font-weight: 400;

    }
.filters_down{
    display: flex;
    justify-content: center;
    align-content: center;
    & select{
        padding:12px 5px 12px 24px ;
        margin-right: 45px;
        border: none;font-size: 16px;
        line-height: 150%;
        color: #2a254b;
    }
}
  .drop-down_list_richt{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 72px;
    & p{
        font-size: 16px;
        line-height: 150%;
        color: #2a254b;
        margin-right: 16px;
    }
    & select{
        border: none;
        padding-left: 19px;
    }
}
.listings_top{
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 80px;}
.listings_top p{
    text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #2a254b;
    
}
.listings_center{
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 80px;}
    .listings_center p{
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #2a254b;}

.listings_button{
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 80px;
}
.listings_button p{
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #2a254b;
    }
.button_center{
    display: grid;
    place-items: center; 
    padding-top: 56px;
    padding-bottom: 64px;
}
.button_view{
    padding: 16px 32px;
    width: 175px;
    height: 56px;
    background: #f9f9f9;
    border: none;
font-size: 16px;
color: #2a254b;
}
.Email_sign-up{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img{
    width: 720px;
height: 521px;
    background-image: url(../img/join-background.jpg);
}
.text_sign-up{
    padding-left: 49px;
}
h2{
    font-weight: 400;
font-size: 32px;
color: #2a254b;
}
.text_sign{
margin: 0;
    width: 470px;
    height: 48px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2a254b;
}
.button_sign_up{
    white-space: nowrap;
    padding: 216px 176px 70px 23px;
    width: 472px;
height: 56px;
    margin: 0;
}
.button_sign{
    padding: 16px 32px;
    width: 120px;
    height: 56px;
    background: #2a254b;
font-size: 16px;
color: #fff;
text-align: center;
border: none;
}
footer{
    background: #2a254b;
    
}
.main_down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 78px;
    padding-bottom: 57px;
    }
.main_down_left{
    display: flex;
   gap: 100px;
   justify-content: space-between;
   padding-right: 93px;
}
.menu{
    width: 117px;
    height: 175px;
    padding: 0;
    margin: 0;
}
.menu li{
    list-style: none;
font-weight: 400;
font-size: 14px;
color: #fff;
padding-bottom: 12px;
margin: 0; 
}
.categories{
    width: 86px;
height: 206px;
padding: 0;
    margin: 0;
}
.categories li{
list-style: none;
font-weight: 400;
font-size: 14px;
color: #fff;
padding-bottom: 12px;
margin: 0; 
}
.other{
    width: 111px;
height: 175px;
padding: 0;
    margin: 0;
}
.other li {
list-style: none;
font-weight: 400;
font-size: 14px;
color: #fff;
padding-bottom: 12px;
margin: 0;
}
.line{
border: 1px solid #4e4d93;
width: 1277px;
height: 0px;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 83px;
}
    .social p {
        font-weight: 400;
font-size: 14px;
color: #fff;
margin-top: 24px;
    }

.social_networks{
    display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   margin-top: 22px;
}
.social_networks li{
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--linkedin{
 
    color: transparent;
    background-image: url(../img/logo--linkedin.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--facebook{
    color: transparent;
    background-image: url(../img/logo--facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--instagram{
    color: transparent;
    background-image: url(../img/logo--instagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--skype{
    color: transparent;
    background-image: url(../img/logo--skype.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--twitter{
    color: transparent;
    background-image: url(../img/logo--twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}
.logo--pinterest{
    color: transparent;
    background-image: url(../img/logo--pinterest.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}